@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
  border: none;
  cursor: pointer;
}
.page {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}
@media screen and (max-width: 690px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/*---promo---*/
.promo {
  width: 100%;
  background: url(../images/promo-main.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 690px) {
  .promo {
    background: url(../images/promo-main-mobil.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.promo__wrapper {
  width: 100%;
  padding: 84px 0 91px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .promo__wrapper {
    padding: 60px 0;
  }
}
@media screen and (max-width: 690px) {
  .promo__wrapper {
    padding: 40px 0;
  }
}
.promo__wrapper h1 {
  max-width: 727px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 1324px) {
  .promo__wrapper h1 {
    max-width: 600px;
    font-size: 45px;
    line-height: 45px;
  }
}
@media screen and (max-width: 1200px) {
  .promo__wrapper h1 {
    max-width: 530px;
    font-size: 41px;
    line-height: 41px;
  }
}
@media screen and (max-width: 1024px) {
  .promo__wrapper h1 {
    max-width: 500px;
    font-size: 39px;
    line-height: 39px;
  }
}
@media screen and (max-width: 960px) {
  .promo__wrapper h1 {
    max-width: 400px;
    font-size: 31px;
    line-height: 31px;
  }
}
@media screen and (max-width: 690px) {
  .promo__wrapper h1 {
    font-size: 24px;
    line-height: 24px;
  }
}
.promo__wrapper h1 span {
  color: #ffb400;
}
.promo__desc {
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin-top: 38px;
}
@media screen and (max-width: 1024px) {
  .promo__desc {
    gap: 12px;
  }
}
@media screen and (max-width: 690px) {
  .promo__desc {
    gap: 10px;
    margin-top: 35px;
  }
}
.promo__desc li {
  display: flex;
  gap: 12px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}
@media screen and (max-width: 960px) {
  .promo__desc li {
    font-size: 17px;
    line-height: 17px;
  }
}
@media screen and (max-width: 768px) {
  .promo__desc li {
    font-size: 16px;
    line-height: 16px;
  }
}
@media screen and (max-width: 690px) {
  .promo__wrapper li {
    font-size: 14px;
    line-height: 14px;
    gap: 8px;
  }
}
.promo__desc li img {
  width: 18px;
  height: 18px;
  object-fit: cover;
}
@media screen and (max-width: 690px) {
  .promo__desc li img {
    width: 12px;
    height: 12px;
    object-fit: cover;
  }
}
.promo__items-btn {
  margin-top: 45px;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 690px) {
  .promo__items-btn {
    flex-direction: column;
    margin-top: 38px;
  }
}
.promo__items-btn button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  width: 260px;
  height: 47px;
}
@media screen and (max-width: 960px) {
  .promo__items-btn button {
    width: 200px;
    height: 40px;
    font-size: 17px;
    line-height: 17px;
  }
}
@media screen and (max-width: 690px) {
  .promo__items-btn button {
    width: 185px;
    height: 35px;
    font-size: 14px;
    line-height: 14px;
  }
}
.promo__btn-left {
  border-radius: 4px;
  background: #ffb400;
  color: #fff;
  border: 1px solid transparent;
}
.promo__btn-right {
  border: 1px solid #ffb400;
  background: transparent;
  color: #ffb400;
}
/*---quality---*/
.quality {
  width: 100%;
}
.quality__wrapper {
  padding: 80px 0;
  box-sizing: border-box;
  display: flex;
}
@media screen and (max-width: 960px) {
  .quality__wrapper {
    flex-direction: column;
    gap: 40px;
  }
}
@media screen and (max-width: 768px) {
  .quality__wrapper {
    padding: 60px 0;
  }
}
@media screen and (max-width: 690px) {
  .quality__wrapper {
    padding: 60px 0;
  }
}
.quality__value {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 60px 60px 0;
  box-sizing: border-box;
}
@media screen and (max-width: 1280px) {
  .quality__value {
    padding: 0 40px 40px 0;
  }
}
@media screen and (max-width: 1230px) {
  .quality__value {
    padding: 0 20px 20px 0;
  }
}
@media screen and (max-width: 960px) {
  .quality__value {
    padding: 0;
  }
}
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 32px;
  color: #333333;
}
h2 span {
  color: #ffb400;
}
.quality__value p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  margin-top: 52px;
}
@media screen and (max-width: 1280px) {
  h2 {
    font-size: 35px;
    line-height: 30px;
  }
  .quality__value p {
    font-size: 15px;
    line-height: 20px;
    margin-top: 40px;
  }
}
@media screen and (max-width: 690px) {
  h2 {
    font-size: 24px;
    line-height: 19.2px;
  }
  .quality__value p {
    font-size: 14px;
    line-height: 20px;
    margin-top: 35px;
  }
}
.quality__images {
  display: flex;
  gap: 29px;
  margin-top: 56px;
}
@media screen and (max-width: 1280px) {
  .quality__images {
    margin-top: 45px;
  }
}
@media screen and (max-width: 960px) {
  .quality__images {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 690px) {
  .quality__images {
    margin-top: 34px;
  }
}
.quality__icon {
  width: 138px;
  height: 124.91px;
  object-fit: cover;
  margin-left: 30px;
}
.quality__img {
  width: 433px;
  height: 343px;
  object-fit: cover;
}
@media screen and (max-width: 1230px) {
  .quality__img {
    width: 350px;
    height: 277px;
  }
  .quality__icon {
    width: 110px;
    height: 100px;
  }
}
@media screen and (max-width: 690px) {
  .quality__img {
    width: 222px;
    height: 176px;
  }
  .quality__icon {
    width: 100px;
    height: 90.52px;
    margin-left: 0;
  }
}
.quality__list {
  flex-basis: 50%;
  max-height: 774px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
  direction: rtl;
}
@media screen and (max-width: 1280px) {
  .quality__list {
    max-height: 660px;
  }
}
@media screen and (max-width: 960px) {
  .quality__list {
    max-height: fit-content;
  }
}
.quality__list::-webkit-scrollbar {
  width: 4px;
}

.quality__list::-webkit-scrollbar-thumb {
  background-color: #ffb400;
  border-radius: 2px;
  height: 24px !important;
}

.quality__list::-webkit-scrollbar-track {
  background-color: #e9e9e9;
  border-radius: 2px;
}

.quality__item {
  background: #f3f3f3;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 14px;
  padding: 40px 13px 40px 80px;
  box-sizing: border-box;
  position: relative;
  margin-left: 18px;
}
@media screen and (max-width: 1360px) {
  .quality__item {
    padding: 40px 13px 40px 60px;
  }
}
@media screen and (max-width: 1280px) {
  .quality__item {
    padding: 42px 13px 42px 20px;
  }
}
@media screen and (max-width: 960px) {
  .quality__item {
    margin: 0;
  }
}
.quality__item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-width: 1280px) {
  .quality__item img {
    right: 0;
    width: 54px;
    height: 54px;
  }
}
.quality__item h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #333333;
  text-align: end;
}
.quality__item p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 19.6px;
  color: #333333;
  text-align: end;
}
@media screen and (max-width: 1280px) {
  .quality__item h4 {
    font-size: 16px;
    line-height: 16px;
    max-width: 400px;
  }
}
@media screen and (max-width: 1100px) {
  .quality__item h4 {
    max-width: 270px;
  }
}
/*---products-price---*/
.products-price {
  width: 100%;
  background: #f8f8f8;
  display: flex;
}
.products-price__wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 30px;
}
.products-price__top {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.catalog-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffb400;
  position: relative;
}
.catalog-link::after {
  content: "❯";
  width: 3px;
  height: 6px;
  color: #ffb400;
  margin-left: 8px;
}
/*---products-price-swiper---*/
.products-price-swiper {
  width: 100%;
  height: 463px;
}
